/*Global*/
/*______________________________*/
body {
	background: lightblue;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.page {
	display: none;
	height: calc(100vh - 64px) ;
}

.visible {
	display: block;
}

.addButton {
	bottom: 20px;
	right: 20px;
	position: fixed;
}

.progress {
	display: none;
	flex-grow: 1;

}
.modal-footer{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.modal-action{
	flex-shrink: 0;
}


