{% extends "templates/static.html" %}
{% block script %}<script src="scripts/form.js"></script>{% endblock %}
{% block content %}
    <h1>Form</h1>
    <form action="/form" method="post">
        <input type="text" name="title" > title of page </input>
        <input type="text" name="dog_pic">URL of dog pic</input>
        <select name="dog_breed">
            <option>Husky</option>
            <option>RatDog</option>
            <option>GoodBoye</option>
        </select>

        <input type="submit">Submit</input>
    </form>
{% endblock %}