

<script>
    var map;
    function initMap() {
        var options = {
            center: {lat:52.139586, lng:-106.6577709},
            zoom: 12,
            zoomControlOptions:{
                position: google.maps.ControlPosition.BOTTOM_LEFT
            },
            streetViewControlOptions:{
                position: google.maps.ControlPosition.BOTTOM_LEFT
            }
        };
        map = new google.maps.Map(document.getElementById("map"), options);

        function setPosition(position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            map.setCenter(pos);
        }

        navigator.geolocation.getCurrentPosition(setPosition);

        function successCallback(dogs) {

            for (var i = 0; i < dogs.length; i++) {
                var dog = dogs[i];
                var dogPos = {lat: dog.lat, lng: dog.lon};
                var popUpContent = '<img src="/img/?sighting_id=' + dog.sighting_id + '">'
                const infowindow = new google.maps.InfoWindow({
                    content: popUpContent
                });
                const marker = new google.maps.Marker({
                    position: dogPos,
                    map: map,
                    title: dog.title || "no title"
                })
                marker.addListener("click", function () {
                    infowindow.open(map, marker);
                })
            }
        }

        $.ajax({
            'url': '/getDogs',
            'type': 'get'
        }).done(function (dogs) {
            successCallback(dogs);
        }).fail(function (error) {
            console.log(error);
        })

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{APIkey}}&callback=initMap" >
</script>