<div class="modal-content">

    <div class="row">
        <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Picture Title</label>
        </div>
    </div>



    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Dog Breed</label>
        </div>

    </div>
    <div class="row">
        <div class="col s6">
            <p>
                <label>
                    <input name="group1" type="radio" checked />
                    <span>Tiny</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" />
                    <span>Small</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" />
                    <span>Medium</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio"  />
                    <span>Large</span>
                </label>
            </p>

        </div>

        <div class="col s6">
            <p>
                <label>
                    <input name="group2" type="radio" checked />
                    <span>Great Dog</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group2" type="radio" />
                    <span>Ok Dog</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group2" type="radio" />
                    <span>Bad Dog</span>
                </label>
            </p>
        </div>
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Dog Description</label>
                </div>
            </div>
        </form>
    </div>

</div>