<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarah Vedress | {{page_title}}</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <!-- // Intro -->
    <header>
        <img src="images/picture.jpg" alt="Sarah Vedress">
        <h1>Sarah Vedress</h1>
    </header>

    <!-- // Section Content -->
    <main>
            {% block content %}{% endblock %}
    </main>
    <!-- // Footer & contact info -->
    <footer>
        <h2>Contact</h2>

        <!-- Social media and contact links. Add or remove any networks. -->
        <div>
            <a href="mailto:email@example.com">email@example.com</a>
            <a href="http://yourwebsite.com" target="_blank">yourwebsite.com</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">LinkedIn</a>
            <a href="#" target="_blank">Facebook</a>
        </div>
    </footer>
</body>
</html>