<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
        function navigateTo(id){
            var pages = document.getElementsByClassName("page");
            for(var i = 0; i<pages.length; i++) {
                pages[i].classList.remove("visible");
            }

            var visible = document.getElementById(id);
            visible.classList.add("visible");
        }

        function submit(){


            var form = $("#dogSubmissionForm").serializeArray();
            var formData = new FormData();
            var file = document.getElementById("picture").files[0];
            formData.append("picture", file);
            for (var i = 0; i<form.length; i++){
                formData.append(form[i].name, form[i].value)
            }
            console.log(formData.values());

            $.ajax({
                url:"/",
                type:"post",
                data:formData,
                cache:false,
                contentType:false,
                processData:false
            })


        }

    </script>
    <title>Dog Tracker | {{page_title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    {% block script %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper red lighten-2">
                <a href="#" class="brand-logo">DOG TRACKS</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a onclick="navigateTo('myDogs')">My Dogs</a></li>
                    <li><a onclick="navigateTo('map')">Dog Map</a></li>
                    <li><a onclick="navigateTo('profile')">Profile</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        <div class="page visible" id="myDogs">
            {% include 'templates/myDogs.html' %}
        </div>

        <div class="page" id="map">
            {% include 'templates/map.html' %}
        </div>

        <div class="page" id="profile">
            {% include 'templates/profile.html' %}
        </div>
    </main>

    <button data-target="popup" class="btn-floating btn-large waves-effect waves-light red lighten-2 addButton modal-trigger">
        <i class="material-icons">pets</i>
    </button>
    <div id="popup" class="modal modal-fixed-footer">
       {% include 'templates/modal.html' %}

    </div>
    <script>
        <!--must run after modal is loaded-->
        var modal = document.querySelector(".modal");
        M.Modal.init(modal);
    </script>



</body>
</html>